

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
font-family: "Inter-SemiBold", "Inter", sans-serif;
}
.main-body{
  flex: 1 1 auto; /* Allow the second column to fill up remaining space */
  overflow: hidden
}
.bot{
  min-height: 150px;
}

.App::-webkit-scrollbar {
  width: 0.5em;
  background-color: #F5F5F5;
}
.App::-webkit-scrollbar-thumb {
  width: 0.5em;
  background-color: #888;
}